.editor-container{
  background-color: green;
  .editor-row{
    position: relative;
    background-color: #ff7559;
    height: 20px;
    .icon-unfold{
      display: inline-block;
      background-image: url(assets/add.png);
      width: 16px;
      height: 16px;
    }
    .icon-fold{
      display: inline-block;
      background-image: url(assets/close.png);
      width: 16px;
      height: 16px;
    }
    .editor-cell{
      position: relative;
    }
  }
}
.inv{
  visibility: hidden;
}
